# Configurações do Banco de Dados PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=net_imobiliaria
DB_USER=postgres
DB_PASSWORD=Roberto@2007

# Configurações do Gmail SMTP para Desenvolvimento
# IMPORTANTE: Use uma senha de app específica, não sua senha normal do Gmail
# Para gerar: https://myaccount.google.com/apppasswords
GMAIL_USER=alexandreseverog@gmail.com
GMAIL_APP_PASSWORD=Rob@2007

# Configurações de Email
EMAIL_FROM_NAME="Net Imobiliária"
EMAIL_FROM_ADDRESS=seu_email@gmail.com

# Configurações de 2FA
JWT_SECRET=738e5ba709e35d125d5e06c06f75ce222ba18d8c86349128fac5a2b1f6b0a42f473caf1c36788bc46f7f092bcd0b5774c311b3e3d38ebe930dbc4a77f17d5cb1
JWT_EXPIRES_IN=1h

# Configurações de Rate Limiting
RATE_LIMIT_MAX_ATTEMPTS=5
RATE_LIMIT_WINDOW_MS=900000

# Configurações de Sessão
SESSION_SECRET=42728b22f3de325fb857118641da1cb8773c3b3c9b821992bdda26063c355afc7d82456faad573f2deed2007e4639937376766e685998c1a829b58605b24497e
SESSION_MAX_AGE=86400000

# Configurações de Desenvolvimento
NODE_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000