                                                                                                                                                                                                                                                                                                                                                           +
 DECLARE                                                                                                                                                                                                                                                                                                                                                   +
     _v_role_level INTEGER;                                                                                                                                                                                                                                                                                                                                +
     _v_is_superadm BOOLEAN;                                                                                                                                                                                                                                                                                                                               +
     _res JSONB;                                                                                                                                                                                                                                                                                                                                           +
 BEGIN                                                                                                                                                                                                                                                                                                                                                     +
     -- 1. Obter n├â┬¡vel da role do usu├â┬írio                                                                                                                                                                                                                                                                                                                 +
     SELECT r.level, r.level >= 6 INTO _v_role_level, _v_is_superadm                                                                                                                                                                                                                                                                                       +
     FROM public.user_tenant_membership utm                                                                                                                                                                                                                                                                                                                +
     JOIN public.user_roles r ON utm.role_id = r.id                                                                                                                                                                                                                                                                                                        +
     WHERE utm.user_id = p_user_id AND utm.tenant_id = p_tenant_id;                                                                                                                                                                                                                                                                                        +
                                                                                                                                                                                                                                                                                                                                                           +
     -- 2. Selecionar itens permitidos                                                                                                                                                                                                                                                                                                                     +
     WITH allowed_items AS (                                                                                                                                                                                                                                                                                                                               +
         SELECT                                                                                                                                                                                                                                                                                                                                            +
             s.*                                                                                                                                                                                                                                                                                                                                           +
         FROM public.sidebar_menu_items s                                                                                                                                                                                                                                                                                                                  +
         WHERE s.is_active = true                                                                                                                                                                                                                                                                                                                          +
           AND (                                                                                                                                                                                                                                                                                                                                           +
             s.system_id = p_system_id                                                                                                                                                                                                                                                                                                                     +
             OR (s.system_id IS NULL AND p_system_id = 'admin')                                                                                                                                                                                                                                                                                            +
           )                                                                                                                                                                                                                                                                                                                                               +
           -- Entitlement Check:                                                                                                                                                                                                                                                                                                                           +
           AND (                                                                                                                                                                                                                                                                                                                                           +
             _v_is_superadm = true                                                                                                                                                                                                                                                                                                                         +
             OR p_tenant_id IS NULL                                                                                                                                                                                                                                                                                                                        +
             OR s.feature_id IS NULL                                                                                                                                                                                                                                                                                                                       +
             OR EXISTS (                                                                                                                                                                                                                                                                                                                                   +
                 -- VERIFICA├âÔÇí├âãÆO MULTI-M├âÔÇ£DULO: SE QUALQUER M├âÔÇ£DULO HABILITADOR ESTIVER ATIVO                                                                                                                                                                                                                                                             +
                 SELECT 1                                                                                                                                                                                                                                                                                                                                  +
                 FROM public.system_feature_modules sfm                                                                                                                                                                                                                                                                                                    +
                 JOIN public.tenant_modules tm ON sfm.module_id = tm.module_id                                                                                                                                                                                                                                                                             +
                 WHERE sfm.feature_id = s.feature_id                                                                                                                                                                                                                                                                                                       +
                   AND tm.tenant_id = p_tenant_id                                                                                                                                                                                                                                                                                                          +
                   AND tm.is_enabled = true                                                                                                                                                                                                                                                                                                                +
             )                                                                                                                                                                                                                                                                                                                                             +
           )                                                                                                                                                                                                                                                                                                                                               +
           -- Permissions Check:                                                                                                                                                                                                                                                                                                                           +
           AND (                                                                                                                                                                                                                                                                                                                                           +
             _v_is_superadm = true                                                                                                                                                                                                                                                                                                                         +
             OR s.permission_required IS NULL                                                                                                                                                                                                                                                                                                              +
             OR s.permission_required = ''                                                                                                                                                                                                                                                                                                                 +
             OR EXISTS (                                                                                                                                                                                                                                                                                                                                   +
                 -- Tenant Override take priority                                                                                                                                                                                                                                                                                                          +
                 SELECT 1 FROM public.tenant_feature_overrides o                                                                                                                                                                                                                                                                                           +
                 JOIN public.system_features f ON o.feature_id = f.id                                                                                                                                                                                                                                                                                      +
                 WHERE o.tenant_id = p_tenant_id AND o.user_id = p_user_id                                                                                                                                                                                                                                                                                 +
                   AND f.slug = s.permission_required AND o.is_active = true                                                                                                                                                                                                                                                                               +
             )                                                                                                                                                                                                                                                                                                                                             +
             OR EXISTS (                                                                                                                                                                                                                                                                                                                                   +
                 -- Blueprints                                                                                                                                                                                                                                                                                                                             +
                 SELECT 1 FROM public.system_segment_blueprints b                                                                                                                                                                                                                                                                                          +
                 JOIN public.tenants t ON b.segment_id = t.segment_id                                                                                                                                                                                                                                                                                      +
                 JOIN public.system_features f ON b.feature_id = f.id                                                                                                                                                                                                                                                                                      +
                 WHERE t.id = p_tenant_id AND f.slug = s.permission_required                                                                                                                                                                                                                                                                               +
                   AND b.is_required = true                                                                                                                                                                                                                                                                                                                +
             )                                                                                                                                                                                                                                                                                                                                             +
           )                                                                                                                                                                                                                                                                                                                                               +
     )                                                                                                                                                                                                                                                                                                                                                     +
     SELECT jsonb_agg(items) INTO _res                                                                                                                                                                                                                                                                                                                     +
     FROM (                                                                                                                                                                                                                                                                                                                                                +
         SELECT * FROM (                                                                                                                                                                                                                                                                                                                                   +
             SELECT DISTINCT ON (id) * FROM allowed_items                                                                                                                                                                                                                                                                                                  +
         ) final_items                                                                                                                                                                                                                                                                                                                                     +
         ORDER BY order_index ASC                                                                                                                                                                                                                                                                                                                          +
     ) items;                                                                                                                                                                                                                                                                                                                                              +
                                                                                                                                                                                                                                                                                                                                                           +
     RETURN COALESCE(_res, '[]'::jsonb);                                                                                                                                                                                                                                                                                                                   +
 END;                                                                                                                                                                                                                                                                                                                                                      +
 
                                                                                                                                                                                                                                                                                                                                                           +
 DECLARE                                                                                                                                                                                                                                                                                                                                                   +
     _v_role_level   INTEGER;                                                                                                                                                                                                                                                                                                                              +
     _v_is_superadm  BOOLEAN;                                                                                                                                                                                                                                                                                                                              +
     _v_segment_id   UUID;                                                                                                                                                                                                                                                                                                                                 +
     _v_menu_output  JSONB;                                                                                                                                                                                                                                                                                                                                +
 BEGIN                                                                                                                                                                                                                                                                                                                                                     +
     -- [1] Identificacao de Nivel e Super Admin                                                                                                                                                                                                                                                                                                           +
     IF p_user_id = 'cc8220f7-a3fd-40ed-8dbd-a22539328083'::uuid THEN                                                                                                                                                                                                                                                                                      +
         _v_is_superadm := true;                                                                                                                                                                                                                                                                                                                           +
         _v_role_level := 10;                                                                                                                                                                                                                                                                                                                              +
     ELSE                                                                                                                                                                                                                                                                                                                                                  +
         SELECT ur.level INTO _v_role_level                                                                                                                                                                                                                                                                                                                +
         FROM public.user_tenant_membership utm                                                                                                                                                                                                                                                                                                            +
         JOIN public.user_roles ur ON utm.role_id = ur.id                                                                                                                                                                                                                                                                                                  +
         WHERE utm.user_id = p_user_id AND utm.tenant_id = p_tenant_id AND utm.is_active = true                                                                                                                                                                                                                                                            +
         ORDER BY ur.level DESC LIMIT 1;                                                                                                                                                                                                                                                                                                                   +
                                                                                                                                                                                                                                                                                                                                                           +
         IF _v_role_level IS NULL THEN                                                                                                                                                                                                                                                                                                                     +
             SELECT ur.level INTO _v_role_level                                                                                                                                                                                                                                                                                                            +
             FROM public.user_role_assignments ura                                                                                                                                                                                                                                                                                                         +
             JOIN public.user_roles ur ON ura.role_id = ur.id                                                                                                                                                                                                                                                                                              +
             WHERE ura.user_id = p_user_id                                                                                                                                                                                                                                                                                                                 +
             ORDER BY ur.level DESC LIMIT 1;                                                                                                                                                                                                                                                                                                               +
         END IF;                                                                                                                                                                                                                                                                                                                                           +
         _v_is_superadm := (COALESCE(_v_role_level, 0) >= 6);                                                                                                                                                                                                                                                                                              +
     END IF;                                                                                                                                                                                                                                                                                                                                               +
                                                                                                                                                                                                                                                                                                                                                           +
     -- [2] Identificar Segmento da empresa                                                                                                                                                                                                                                                                                                                +
     SELECT segment_id INTO _v_segment_id FROM public.tenants WHERE id = p_tenant_id;                                                                                                                                                                                                                                                                      +
                                                                                                                                                                                                                                                                                                                                                           +
     -- [3] Gerar Menu com Transparencia de Ordenacao                                                                                                                                                                                                                                                                                                      +
     SELECT jsonb_agg(item_row)                                                                                                                                                                                                                                                                                                                            +
     INTO _v_menu_output                                                                                                                                                                                                                                                                                                                                   +
     FROM (                                                                                                                                                                                                                                                                                                                                                +
         WITH RECURSIVE                                                                                                                                                                                                                                                                                                                                    +
         authorized_items AS (                                                                                                                                                                                                                                                                                                                             +
             SELECT s.*                                                                                                                                                                                                                                                                                                                                    +
             FROM public.sidebar_menu_items s                                                                                                                                                                                                                                                                                                              +
             WHERE s.is_active = true                                                                                                                                                                                                                                                                                                                      +
               AND (s.system_id = p_system_id OR (s.system_id IS NULL AND p_system_id = 'admin'))                                                                                                                                                                                                                                                          +
               AND (                                                                                                                                                                                                                                                                                                                                       +
                 _v_is_superadm = true                                                                                                                                                                                                                                                                                                                     +
                 OR (                                                                                                                                                                                                                                                                                                                                      +
                     -- VERIFICACAO DE ENTITLEMENT (ASSINATURA DO MODULO)                                                                                                                                                                                                                                                                                  +
                     EXISTS (                                                                                                                                                                                                                                                                                                                              +
                         SELECT 1                                                                                                                                                                                                                                                                                                                          +
                         FROM public.system_features f                                                                                                                                                                                                                                                                                                     +
                         JOIN public.system_feature_modules fm ON f.id = fm.feature_id                                                                                                                                                                                                                                                                     +
                         JOIN public.tenant_modules tm ON fm.module_id = tm.module_id                                                                                                                                                                                                                                                                      +
                         WHERE f.slug = s.permission_required                                                                                                                                                                                                                                                                                              +
                           AND tm.tenant_id = p_tenant_id                                                                                                                                                                                                                                                                                                  +
                           AND tm.is_enabled = true                                                                                                                                                                                                                                                                                                        +
                     )                                                                                                                                                                                                                                                                                                                                     +
                     AND (                                                                                                                                                                                                                                                                                                                                 +
                         -- VERIFICACAO DE PERMISSAO (PODE ACESSAR A FUNCIONALIDADE?)                                                                                                                                                                                                                                                                      +
                         s.permission_required IS NULL                                                                                                                                                                                                                                                                                                     +
                         OR (_v_role_level >= 5 AND EXISTS (SELECT 1 FROM public.system_features f WHERE f.slug = s.permission_required AND f.is_default_tenant_admin_feature = true))                                                                                                                                                                     +
                         OR EXISTS (SELECT 1 FROM public.role_permissions rp JOIN public.user_tenant_membership utm ON rp.role_id = utm.role_id JOIN public.permissions p ON rp.permission_id = p.id JOIN public.system_features f ON p.feature_id = f.id WHERE utm.user_id = p_user_id AND utm.tenant_id = p_tenant_id AND f.slug = s.permission_required)+
                     )                                                                                                                                                                                                                                                                                                                                     +
                 )                                                                                                                                                                                                                                                                                                                                         +
                 OR EXISTS (SELECT 1 FROM public.tenant_feature_overrides o JOIN public.system_features f ON o.feature_id = f.id WHERE o.tenant_id = p_tenant_id AND f.slug = s.permission_required AND o.is_active = true)                                                                                                                                +
               )                                                                                                                                                                                                                                                                                                                                           +
         ),                                                                                                                                                                                                                                                                                                                                                +
         menu_tree AS (                                                                                                                                                                                                                                                                                                                                    +
             SELECT id, parent_id, name, url, icon_name, order_index, system_id, is_active, permission_required                                                                                                                                                                                                                                            +
             FROM authorized_items                                                                                                                                                                                                                                                                                                                         +
             UNION                                                                                                                                                                                                                                                                                                                                         +
             SELECT p.id, p.parent_id, p.name, p.url, p.icon_name, p.order_index, p.system_id, p.is_active, p.permission_required                                                                                                                                                                                                                          +
             FROM public.sidebar_menu_items p                                                                                                                                                                                                                                                                                                              +
             INNER JOIN menu_tree mt ON mt.parent_id = p.id                                                                                                                                                                                                                                                                                                +
             WHERE p.is_active = true                                                                                                                                                                                                                                                                                                                      +
         ),                                                                                                                                                                                                                                                                                                                                                +
         distinct_items AS (                                                                                                                                                                                                                                                                                                                               +
             SELECT DISTINCT ON (id) * FROM menu_tree                                                                                                                                                                                                                                                                                                      +
         )                                                                                                                                                                                                                                                                                                                                                 +
         SELECT jsonb_build_object(                                                                                                                                                                                                                                                                                                                        +
             'id',          id,                                                                                                                                                                                                                                                                                                                            +
             'parent_id',   parent_id,                                                                                                                                                                                                                                                                                                                     +
             'name',        name,                                                                                                                                                                                                                                                                                                                          +
             'path',        url,                                                                                                                                                                                                                                                                                                                           +
             'icon',        icon_name,                                                                                                                                                                                                                                                                                                                     +
             'order_index', order_index,                                                                                                                                                                                                                                                                                                                   +
             'system_id',   system_id,                                                                                                                                                                                                                                                                                                                     +
             'is_active',   is_active,                                                                                                                                                                                                                                                                                                                     +
             'permission_required', permission_required                                                                                                                                                                                                                                                                                                    +
         ) AS item_row                                                                                                                                                                                                                                                                                                                                     +
         FROM distinct_items                                                                                                                                                                                                                                                                                                                               +
         ORDER BY                                                                                                                                                                                                                                                                                                                                          +
             (parent_id IS NOT NULL),                                                                                                                                                                                                                                                                                                                      +
             parent_id ASC NULLS FIRST,                                                                                                                                                                                                                                                                                                                    +
             order_index ASC                                                                                                                                                                                                                                                                                                                               +
     ) items_flat;                                                                                                                                                                                                                                                                                                                                         +
                                                                                                                                                                                                                                                                                                                                                           +
     RETURN COALESCE(_v_menu_output, '[]'::jsonb);                                                                                                                                                                                                                                                                                                         +
 END;                                                                                                                                                                                                                                                                                                                                                      +
 

